
.whatsapp-contact {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
.whatsapp-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .whatsapp-text {
    font-size: 17px; 
    color: #25D366; 
    margin-left: 3px; 
  }

  image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
  }
  
  .product-image {
    max-width: 40vh;
    max-height: 40vh;
    object-fit: cover;
    border-radius: 8px;
  }