
.selectOptions3 {
    position: relative;
    display: inline-block;
    width: 100%;
}

.selectOptions3 select {
    width: 100%;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #00000011;
    border-radius: 5px;
    appearance: none; 
    background-color: #00000013;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.selectOptions3 select:hover {
    border-color: #00000013; 
}

.selectOptions3::after {
    content: 'Select One Option ▼'; 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; 
    color: #888;
}