.body {
  background-color: #0a0a0a;
}

.form-buy-product-container {
  padding: 0px;
  max-width: 570px;
  margin: 0 auto;
}

.title {
  font-size: 2em;
  font-weight: bold;
  color: #e3b04b;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.5em;
  color: #ffffff;
  margin-bottom: 20px;
}

.card {
  background-color: #1c1c1c;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 15px;
  background-color: #000000;
}

.form-label {
  font-size: 18px;
  color: #e3b04b;
}

.form-control {
  background-color: #2c2c2c;
  color: #000000;
  border: none;
  border-radius: 4px;
}

.form-control::placeholder {
  color: #999999;
}

.btn-success {
  background-color: #369139;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-success:hover {
  background-color: #246e27;
}

.image-container {
  text-align: center;
  margin-bottom: 15px;
}

.product-image {
  max-width: 260px;
  height: auto;
  border-radius: 1px;
}

.whatsapp-contact {
  display: flex;
  align-items: center;
  padding: 15px;
}

.whatsapp-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.whatsapp-text {
  font-size: 18px;
  color: #25d366;
  margin-left: 0.5rem;
}