.body {
  background-color: #0a0a0a;
}

.graphics-ad-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 65px;
  text-align: center;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
  color: #e3b04b;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.8em;
  color: #ffffff;
  margin-bottom: 30px;
}

.chart-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-wrapper {
  width: 100%;
  max-width: 800px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #1c1c1c;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.chart-wrapper:hover {
  transform: scale(1.05);
}

.pie-chart-container {
  width: 100%;
  max-width: 450px;
  height: 450px;
  margin: 0 auto;
}

.alert-success {
  background-color: #e3b04b;
  color: #000000;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}