
.menuPrincipal {
    margin-left: 15px;
    background-color: #0a0a0a;
}

.generalC {
    font-weight: bold;
    font-size: 15px;
    color: #e3b04b;
    padding-block-end: 12px;
}

.dashboardC {
    padding: 2px;
    font-size: 15px;
    margin-left: 5px;
    padding-block-end: 10px;

}

.productsC {
    padding: 2px;
    margin-left: 5px;
    font-size: 15px;
    padding-block-end: 10px;
}

.adminC {
    margin-top: 5px;
    font-weight: bold;
    font-size: 15px;
    color:#e3b04b;
    padding-block-end: 12px;
}

.usersC {
    margin-left: 5px;
    font-size: 15px;
    padding-block-end: 12px;
}

.FormsC {
    margin-left: 5px;
    font-size: 15px;
    padding-block-end: 12px;
}

.settingsC {
    margin-top: 5px;
    font-weight: bold;
    font-size: 15px;
    color:#e3b04b;
    padding-block-end: 12px;
}

.buttonM {   
    margin-left: 5px;
    font-size: 15px;
    padding-block-end: 12px;
    color: #ffffffde;
}




