
.container-acc {
    height: 80vh;
}
.account-container {
  padding: 50px;
  background-color: #15191f;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 150px;
}

.title {
  font-size: 2.5em;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.account-details {
  background-color: #1d1d1d8a;
  padding: 5px;
  border-radius: 8px;
  text-align: left;
}

.account-info p {
  margin: 10px 0;
  font-size: 1.2em;
  margin-left: 15px;
}

.account-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  margin-block-end: 15px;
}

.btn-primary {
  background-color: #4caf50;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #45a049;
}

.btn-danger {
  background-color: #e74c3c;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn-danger:hover {
  background-color: #c0392b;
}

.alert {
  margin-top: 20px;
  font-size: 1.2em;
}
